{{>header}}
    <div class="jumbotron jumbotron-fluid text" style="color:#ffffff; background-color:#121212;">
        <h1 class="display-8 text-center text-weight-bold" style="font-size: 12vh; font-family:Lobster; margin-top:5vh;">Developer</h1>
    </div>
    <div class="container" style="margin:13vh auto;">
    <div class="row">
    <div class="col-lg-8 mx-auto">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="img/riyaz.jpg" alt="Image of developer riyaz">
                </div>
                <div class="team-content">
                    <h3 class="name">{{name}}</h3>
                    <h4 class="title">{{profession}}<br>{{location}}</h4>
                </div>
                <ul class="social">
                    <li><a href="https://www.facebook.com/profile.php?id=100008581156940" class="fa fa-facebook" aria-hidden="true"></a></li>
                    <li><a href="https://www.linkedin.com/in/riyaz-ahmed-025606154/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                    <li><a href="https://www.instagram.com/riyaz_suhu/" class="fa fa-instagram" aria-hidden="true"></a></li>
                </ul>
            </div>
    </div>
</div>
</div>
{{>footer}}
</body>
</html>